{% load static %}
<!doctype html>
<html lang="en">



<head>
        
   <meta charset="utf-8" />
   <title>View Products | BuildWizard</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
   <meta content="Themesbrand" name="author" />
   <!-- App favicon -->
   <link rel="shortcut icon" href="{% static 'admin/assets/images/favicon.ico' %}">

   <!-- DataTables -->
   <link href="{% static 'admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static 'admin/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

   <!-- Responsive datatable examples -->
   <link href="{% static 'admin/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     

   <!-- Bootstrap Css -->
   <link href="{% static 'admin/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
   <!-- Icons Css -->
   <link href="{% static 'admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
   <!-- App Css-->
   <link href="{% static 'admin/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

   <!-- Preloader Css-->
   <link href="{% static 'admin/assets/css/preloader.css' %}" rel="stylesheet" type="text/css" />

</head>

<body data-sidebar="dark" data-layout-mode="light">

      <!-- Page Loader -->
      <div class="page-loader-wrapper">
         <span class="loader"><span class="loader-inner"></span></span>
      </div>

   <!-- Begin page -->
   <div id="layout-wrapper">
    {%include "admin/header.html" %}
      <!-- ========== Left Sidebar Start ========== -->
      {% include "admin/sidebar.html" %}
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">

         <div class="page-content">
            <div class="container-fluid">

               <!-- start page title -->
               <div class="row">
                  <div class="col-12">
                     <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Category</h4>
                        {% if messages %}
                        {% for msg in messages %}
                           <div class="alert alert-{{msg.level_tag}}" role="alert">
                              {{msg.message}}
                           </div>
                        {% endfor %}
                        {% endif %}
                     </div>
                  </div>
               </div>
               <!-- end page title -->

               <div class="row">
                  <div class="col-12">
                     <div class="card">
                        <div class="card-body">
                        <h4 class="card-title">View categories</h4>

                           <div class="table-responsive">
                              <table id="datatable-buttons" class="table table-bordered ">
                                 <thead class="table-light">
                                    <tr>
                                       
                                       <th class="align-middle">Category ID</th>
                                       <th class="align-middle">Category Name</th>
                                       <th class="align-middle">Action</th>
                                    </tr>
                                 </thead>
                                 
                                 <tbody>
                                    {% for i in mydata %}
                                    <tr>
                                      
                                        <td>{{i.0}}</td>
                                        <td>{{i.1}}</td>
                                        <td>
                                            <a href='/adminside/editcategory/{{i.0}}' class="text-success"><i class="mdi mdi-pencil font-size-20"></i></a>&nbsp
                                            <a href='/adminside/deletecategory/{{i.0}}' class="text-danger"><i class="mdi mdi-delete font-size-20"></i></a>
                                        </td>

                                    </tr>
                                     
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
               <!-- end row -->
            </div> <!-- container-fluid -->
         </div>
         <!-- End Page-content -->

         <!-- Modal -->
        
         <!-- end modal -->

         <footer class="footer">
            
         </footer>
      </div>
      <!-- end main content-->

   </div>
   <!-- END layout-wrapper -->

   <!-- Right Sidebar -->
   
   <!-- /Right-bar -->

   <!-- Right bar overlay-->
   <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'admin/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- Required datatable js -->
        <script src="{% static 'admin/assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Buttons examples -->
        <script src="{% static 'admin/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'admin/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'admin/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'admin/assets/js/pages/datatables.init.js' %}"></script>    

        <script src="{% static 'admin/assets/js/app.js' %}"></script>

        <!-- Preloader js -->
        <script src="{% static 'admin/assets/js/preloader.js' %}"></script>

</body>


</html>