<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->

            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="/adminside/index">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-layouts">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Manage Products</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="/adminside/insertproduct" key="t-vertical"><i class="bx bx-caret-right"></i>Add
                                Products</a>
                        </li>
                        <li>
                            <a href="/adminside/insertproductimage" key="t-vertical"><i
                                    class="bx bx-caret-right"></i>Add Product Images</a>
                        </li>
                        <li>
                            <a href="/adminside/displayproduct" key="t-horizontal"><i class="bx bx-caret-right"></i>View
                                Products</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="fas fa-spa"></i>
                        <span key="t-layouts">Brand</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="/adminside/insertbrand" key="t-vertical"><i class="bx bx-caret-right"></i>Add
                                Brand</a>
                        </li>

                        <li>
                            <a href="/adminside/displaybrand" key="t-horizontal"><i class="bx bx-caret-right"></i>View
                                Brand</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-collection"></i>
                        <span key="t-layouts">Categories</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="/adminside/insertcategory" key="t-vertical"><i class="bx bx-caret-right"></i>Add
                                Categories</a>
                        </li>

                        <li>
                            <a href="/adminside/displaycategory" key="t-horizontal"><i
                                    class="bx bx-caret-right"></i>View Categories</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/adminside/displayorders">
                        <i class="bx bxs-package"></i>
                        <span key="t-layouts">View Orders</span>
                    </a>
                </li>

                <li>
                    <a href="/adminside/displayorderdetails">
                        <i class="bx bx-rupee"></i>
                        <span key="t-layouts">Order Details</span>
                    </a>
                </li>

                <li>
                    <a href="/adminside/forums">
                        <i class="bx bx-group"></i>
                        <span key="t-layouts">Community Forums</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-line-chart"></i>
                        <span key="t-layouts">Reports</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="/adminside/reportproduct_category" key="t-vertical"><i class="bx bx-caret-right"></i>Products-Category
                            </a>
                        </li>

                        <li>
                            <a href="/adminside/reportproduct_brand" key="t-vertical"><i class="bx bx-caret-right"></i>Products-Brand
                            </a>
                        </li>

                        <li>
                            <a href="/adminside/reportorder_datewise" key="t-horizontal"><i class="bx bx-caret-right"></i>Orders-Date wise
                            </a>
                        </li>
                        <li>
                            <a href="/adminside/reportorder_userwise" key="t-horizontal"><i class="bx bx-caret-right"></i>Orders-User wise
                            </a>
                        </li>
                    </ul>
                </li>
                {% comment %} <li>
                    <a href="#">
                        <i class="bx bxs-file"></i>
                        <span key="t-layouts">Invoices</span>
                    </a>
                </li> {% endcomment %}

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>