{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BuildWizard | Custom Products</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'user/assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'user/assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'user/assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'user/assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'user/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'user/assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/css/plugins/nouislider/nouislider.css' %}">
	<!-- Preloader CSS Internal -->
    <link rel="stylesheet" href="{% static 'user/assets/css/preloader.css' %}">

</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader Div  -->
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
		<!-- End Preloader Div -->

        <!-- Header file include -->
        {%include "user/header.html" %}
        <!-- End header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/static/user/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Parts<span>Choose</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/userside/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/userside/customization">Customization</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Components</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span>{{c1}} of {{c2}}</span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="popularity" selected="selected">Most Popular</option>
												<option value="rating">Most Rated</option>
												<option value="date">Date</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					<div class="toolbox-layout">
                							<svg width="16" height="10">
                								<rect x="0" y="0" width="4" height="4" />
                								<rect x="6" y="0" width="10" height="4" />
                								<rect x="0" y="6" width="4" height="4" />
                								<rect x="6" y="6" width="10" height="4" />
                							</svg>
                						</a>               						               					               						
                					</div><!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3">
                                <div class="product product-list">
                                    {% for i in mydata %}
                                    <div class="row">
                                        <div class="col-6 col-lg-3">
                                            <figure class="product-media">
                                                <a href="/userside/productdetails/{{i.0}}">
                                                    <img src="/media/{{i.6}}" alt="Product image" class="product-image" width="50px" style="height:200px; object-fit: contain; background: white;">
                                                </a>
                                            </figure><!-- End .product-media -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-6 col-lg-3 order-lg-last">
                                            <div class="product-list-action">
                                                <div class="product-price">
                                                    Rs. {{i.3}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <div class="product-action">
                                                    <a href="/userside/productdetails/{{i.0}}" class="btn-product btn-quickview" title="Quick view"><span>View Details</span></a>
                                                    
                                                </div><!-- End .product-action -->

                                                <a href="/userside/cartaddcustom/{{i.0}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-list-action -->
                                        </div><!-- End .col-sm-6 col-lg-3 -->

                                        <div class="col-lg-6">
                                            <div class="product-body product-action-inner">
                                                <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                                <div class="product-cat">
                                                    <a href="#">{{categoryname.1}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/userside/productdetails/{{i.0}}">{{i.1}}</a></h3><!-- End .product-title -->

                                                <div class="product-content">
                                                    <p>Text</p>
                                                </div><!-- End .product-content -->
                                                

                                            </div><!-- End .product-body -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                    {% endfor %}
                                </div><!-- End .product -->
                            </div><!-- End .products -->

                			<nav aria-label="Page navigation">
							    <ul class="pagination">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							        <li class="page-item"><a class="page-link" href="#">2</a></li>
							        <li class="page-item"><a class="page-link" href="#">3</a></li>
							        <li class="page-item-total">of 6</li>
							        <li class="page-item">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													{% for bdata in mybdata %}
													<div class="custom-control custom-checkbox" >
														
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label  for="brand-1"><a href="/userside/productfilter2/{{bdata.0}}">{{bdata.1}}</a></label></br>
														
													</div><!-- End .custom-checkbox -->
													{% endfor %}
												</div><!-- End .filter-item -->	
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget --> 

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price" class="btn-wrap">
                                             
												<form action="/userside/productprice">
												<input type="number" name="p1"/>
												<input type="number" name="p2"/>
												<br/>
												<input type="submit" class="btn btn-primary btn-round"/>
											</form>
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

      {% comment %} Footer here {% endcomment %}

      {%include "user/footer.html" %}

      {% comment %} End footer {% endcomment %}

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


   <!-- Plugins JS File -->
   <script src="{% static 'user/assets/js/jquery.min.js' %}"></script>
   <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'user/assets/js/jquery.hoverIntent.min.js' %}"></script>
   <script src="{% static 'user/assets/js/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'user/assets/js/superfish.min.js' %}"></script>
   <script src="{% static 'user/assets/js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'user/assets/js/wNumb.js' %}"></script>
   <script src="{% static 'user/assets/js/bootstrap-input-spinner.js' %}"></script>
   <script src="{% static 'user/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <script src="{% static 'user/assets/js/nouislider.min.js' %}"></script>
   <!-- Main JS File -->
   <script src="{% static 'user/assets/js/main.js' %}"></script>
   <!-- Preloader Script -->
   <script src="{% static 'user/assets/js/preloader.js' %}"></script>

</body>

</html>