{% extends 'user/base.html' %}
{% load static %}
{% block title %} BuildWizard | MyAccount {% endblock %}
{% block extra_head %}

<style>
	.error {
		color: red;
	}
</style>
{% endblock %}

{% block content %}

<div class="page-header text-center" style="background-image: url('/static/user/assets/images/page-header-bg.jpg')">
	<div class="container">
		<h1 class="page-title">My Account</h1>
	</div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/userside/home">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">My Account</li>
		</ol>
	</div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
	<div class="dashboard">
		<div class="container">
			<div class="row">
				<aside class="col-md-4 col-lg-3">
					<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard"
								role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab"
								aria-controls="tab-orders" aria-selected="false">Orders</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab"
								aria-controls="tab-address" aria-selected="false">Adresses</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab"
								aria-controls="tab-account" aria-selected="false">Account Details</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/userside/userlogout">Sign Out</a>
						</li>
					</ul>
				</aside><!-- End .col-lg-3 -->

				<div class="col-md-8 col-lg-9">
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
							aria-labelledby="tab-dashboard-link">
							<p>Hello <span class="font-weight-normal text-dark">{{ request.session.user_name }} ,</span>
								<br>
								From your account dashboard you can view your <a href="#tab-orders"
									class="tab-trigger-link link-underline">recent orders</a>, manage your <a
									href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and
								<a href="#tab-account" class="tab-trigger-link">edit your password and account
									details</a>.
							</p>
						</div><!-- .End .tab-pane -->

						<div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
							<a href="/userside/products" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
									class="icon-long-arrow-right"></i></a>
							<section class="shop-checkout container">
								<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Order id</th>
											<th>Date</th>
											<th>Status</th>
											<th>Total</th>
											<th>Payment Mode</th>

										</tr>
									</thead>

									<tbody>

										{% for i in od %}
										<tr>
											<td class="price-col">{{i.0}}</td> <!--Order Id -->
											<td class="price-col">{{i.1}}</td> <!--Order Date -->
											<td class="price-col">{{i.2}}</td> <!--Order Status -->
											<td class="price-col">Rs. 20845</td> <!--Order Total -->
											<td class="price-col">{{i.4}}</td> <!--Order Mode of payment -->
										</tr>

										{% endfor %}
									</tbody>
								</table><!-- End .table table-wishlist -->
							</section>
						</div><!-- .End .tab-pane -->

						<div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
							<p>The following addresses will be used on the checkout page by default.</p>

							<div class="row">
								<div class="col-lg-6">
									<div class="card card-dashboard">
										<div class="card-body">
											<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

											<p>User Name<br>
												User Company<br>
												John str<br>
												New York, NY 10001<br>
												1-234-987-6543<br>
												<a href="https://portotheme.com/cdn-cgi/l/email-protection"
													class="__cf_email__"
													data-cfemail="51283e24233c30383d113c30383d7f323e3c">[email&#160;protected]</a><br>
												<a href="#">Edit <i class="icon-edit"></i></a>
											</p>
										</div><!-- End .card-body -->
									</div><!-- End .card-dashboard -->
								</div><!-- End .col-lg-6 -->

								<div class="col-lg-6">
									<div class="card card-dashboard">
										<div class="card-body">
											<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

											<p>You have not set up this type of address yet.<br>
												<a href="#">Edit <i class="icon-edit"></i></a>
											</p>
										</div><!-- End .card-body -->
									</div><!-- End .card-dashboard -->
								</div><!-- End .col-lg-6 -->
							</div><!-- End .row -->
						</div><!-- .End .tab-pane -->

						<div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
							{% if messages %}
							{% for msg in messages %}
							<div class="alert alert-{{msg.level_tag}}" role="alert">
								{{msg.message}}
							</div>
							{% endfor %}
							{% endif %}
							<form action="/userside/changepasswordprocess" method="post" enctype="multipart/form-data"
								id="myform">
								{% csrf_token %}
								<label>Current password</label>
								<input type="password" class="form-control" placeholder="Current Password" name="old"
									id="old" required>

								<label>New password</label>
								<input type="password" class="form-control" placeholder="New Password" name="new"
									id="new" required>

								<label>Confirm new password</label>
								<input type="password" class="form-control mb-2" placeholder="Confirm New Password"
									name="confirm" id="confirm" required>

								<button type="submit" class="btn btn-outline-primary-2">
									<span>SAVE CHANGES</span>
									<i class="icon-long-arrow-right"></i>
								</button>
							</form>
						</div><!-- .End .tab-pane -->
					</div>
				</div><!-- End .col-lg-9 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .dashboard -->
</div><!-- End .page-content -->
{% endblock %}

{% block extra_script %}
<script>
	$("#myform").validate({
		rules: {

			old: {
				required: true,
				minlength: 6
			},
			new: {
				required: true,
				minlength: 6
			},
			confirm: {
				required: true,
				minlength: 6,
				equalTo: "#new"
			},

		},
		messages: {

			old: {
				required: "Please Enter Password",
				minlength: "Your password must be at least 6 characters long"
			},
			new: {
				required: "Please Enter Your New Password",
				minlength: "Your password must be at least 6 characters long",
			},
			confirm: {
				required: "Please Confirm Password",
				minlength: "Your password must be at least 6 characters long",
				equalTo: "Please enter the same password as above"
			},

		}
	});


	function Validate(no) {
		no.value = no.value.replace(/[^ 0-9\n\r]+/g, '');
	}

	function Validatestring(no) {
		no.value = no.value.replace(/[^ a-z A-Z\n\r]+/g, '');
	}

</script>
{% endblock %}