{% extends 'user/base.html' %}
{% load static %}
{% block title %} BuildWizard | Pre-Builts {% endblock %}
{% block extra_head %} {% endblock %}

{% block content %}
<div class="page-header text-center" style="background-image: url('/static/user/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Pre-Builts<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/userside/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/userside/prebuilt">Pre-Builts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <h2 class="title text-center mb-3">Gaming Rigs</h2><!-- End .title -->

        <div class="row">
            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/51">
                            <img src="/media/sentinel.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/51"> Sentinel (Entry Level) </a>
                        </h3><!-- End .product-title -->
                        <div class="product-price">
                            Rs. 53330
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/52">
                            <img src="/media/vanguard.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/52"> Vanguard (Mid-Range) </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 69479
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/53">
                            <img src="/media/apex.jpeg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/53"> Apex (High-Level) </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 124699
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->
        </div><!-- End .row -->

        <h2 class="title text-center mb-3">Office Rigs</h2><!-- End .title -->
        <div class="row">
            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/54">
                            <img src="/media/officeoptima.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/54"> Office-Optima </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 24599
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/55">
                            <img src="/media/tasktrek.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/55"> Task-Trek </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 18566
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            {% comment %} <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/53">
                            <img src="/media/apex.jpeg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/53"> Apex (High-Level) </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 124699
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div> {% endcomment %}
        </div><!-- End .row -->

        <h2 class="title text-center mb-3">Productivity Rigs</h2><!-- End .title -->
        <div class="row">
            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/56">
                            <img src="/media/eliteefficient.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/56"> Elite-Efficient </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 57599
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->

            <div class="col-6 col-md-4 col-lg-4">
                <div class="product text-center">
                    <figure class="product-media">
                        <a href="/userside/productdetails/57">
                            <img src="/media/novatask.jpg" alt="Product image" class="product-image">
                        </a>

                        <div class="product-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <a href="popup/quickView.html" class="btn-product btn-quickview"
                                title="Quick view"><span>quick view</span></a>
                        </div><!-- End .product-action -->
                    </figure><!-- End .product-media -->

                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#">Pre-Built</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="/userside/productdetails/57"> Nova-Task </a></h3>
                        <!-- End .product-title -->
                        <div class="product-price">
                            Rs. 69479
                        </div><!-- End .product-price -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 40%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <span class="ratings-text">( 4 Reviews )</span>
                        </div><!-- End .rating-container -->

                        <div class="product-nav product-nav-thumbs">
                            <a href="#" class="active">
                                <img src="/media/sentinel2.jpg" alt="product desc">
                            </a>
                            <a href="#">
                                <img src="/media/sentinel3.jpg" alt="product desc">
                            </a>

                            <a href="#">
                                <img src="/media/sentinel.jpg" alt="product desc">
                            </a>
                        </div><!-- End .product-nav -->
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
            </div><!-- End .col-sm-6 col-lg-4 -->


        </div><!-- End .row -->
    </div><!-- End .container -->
    {% endblock %}
    {% block extra_script %} {% endblock %}