{% extends 'user/base.html' %}
{% load static %}
{% block title %} BuildWizard | Products {% endblock %}
{% block extra_head %} {% endblock %}

{% block content %}
        	<div class="page-header text-center" style="background-image: url('/static/user/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">All Products<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/userside/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/userside/products">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">All Products</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
							<div class="toolbox">
								<div class="toolbox-left">
									<div class="toolbox-info">
										Showing {{ start_index }}-{{ end_index }} of {{ mydata.paginator.count }} Products
									</div><!-- End .toolbox-info -->
								</div><!-- End .toolbox-left -->
							
								<div class="toolbox-right">
									<div class="toolbox-sort">
										<label for="sortby">Sort by:</label>
										<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control" onchange="location = this.value;">
												<option value="/userside/products?sort=popularity" {% if request.GET.sort == "popularity" %}selected{% endif %}>Most Popular</option>
												<option value="/userside/products?sort=rating" {% if request.GET.sort == "rating" %}selected{% endif %}>Most Rated</option>
												<option value="/userside/products?sort=date" {% if request.GET.sort == "date" %}selected{% endif %}>Date</option>
											</select>
										</div>
									</div><!-- End .toolbox-sort -->
								</div><!-- End .toolbox-right --> 
							</div><!-- End .toolbox -->

                            <div class="products mb-3"> 
                                <div class="row justify-content-center">
									{% for i in mydata %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                
                                                <a href="/userside/productdetails/{{i.0}}">
                                                    <img src="/media/{{i.6}}" alt="Product image" class="product-image" style="height:200px; object-fit: contain; background: white;">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="/userside/addtocart/{{i.0}}" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">{{i.4}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/userside/productdetails/{{i.0}}">{{i.1}}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    Rs. {{i.3}}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->

                                    {% endfor %}
                                </div><!-- End .row -->
                                
                            </div><!-- End .products -->

							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									{% if mydata.has_previous %}
										<li class="page-item">
											<a class="page-link page-link-prev" href="/userside/products?page={{ mydata.previous_page_number }}" aria-label="Previous">
												<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span> Prev
											</a>
										</li>
									{% endif %}
							
									{% for page_num in mydata.paginator.page_range %}
										{% if mydata.number == page_num %}
											<li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_num }}</a></li>
										{% else %}
											<li class="page-item"><a class="page-link" href="/userside/products?page={{ page_num }}">{{ page_num }}</a></li>
										{% endif %}
									{% endfor %}
							
									<li class="page-item-total">of &nbsp;{{ mydata.paginator.num_pages }}</li>
							
									{% if mydata.has_next %}
										<li class="page-item">
											<a class="page-link page-link-next" href="/userside/products?page={{ mydata.next_page_number }}" aria-label="Next">
												Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
											</a>
										</li>
									{% endif %}
								</ul>
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<div class="filter-item">
													{% for cdata in mycdata %}
													<div class="custom-control custom-checkbox">
														
														<input type="checkbox" class="custom-control-input" id="cat-1">
														
														<label  for="cat-1"><a href="/userside/productfilter_category/{{cdata.0}}">{{cdata.1}}</a></label></br>
														
														
													</div><!-- End .custom-checkbox -->
													{% endfor %}
												</div><!-- End .filter-items -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													{% for bdata in mybdata %}
													<div class="custom-control custom-checkbox" >
														
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label  for="brand-1"><a href="/userside/productfilter_brand/{{bdata.0}}">{{bdata.1}}</a></label></br>
														
													</div><!-- End .custom-checkbox -->
													{% endfor %}
												</div><!-- End .filter-item -->	
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget --> 

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price" class="btn-wrap">
                                             
												<form action="/userside/productfilter_price">
												<input type="number" name="p1"/>
												<input type="number" name="p2"/>
												<br/>
												<input type="submit" class="btn btn-primary btn-round"/>
											</form>
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
			{% endblock %}

			{% block extra_script %} {% endblock %}